@{
    ViewData["Title"] = "Transacciones";
}

<div class="carousel slide " data-bs-ride="carousel" data-bs-interval="500">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.processmaker.com/wp-content/uploads/2021/06/digital-account-opening-banking.png" class="d-block w-100" alt="...">

        </div>
        <div class="carousel-item">
            <img src="https://tecolotito.elsiglodedurango.com.mx/i/2022/05/1066435.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.portafolio.co/files/article_multimedia/uploads/2016/02/04/56b40f956168e.jpeg" class="d-block w-100" alt="...">
        </div>
    </div>
  
</div>
<h1>Indice de transacciones</h1>