<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Finanzas DWI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoFinanzas_DWI_.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <!-- TEMA OSCURO DE BOOTSTRAP -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body style="margin:0;">

    <div style="  ">

        <main role="main" class="">
            @RenderBody()
        </main>
    </div>


 @*   <footer class=" footer ">
        <div class="container   text-muted text-center ">
            &copy; 2023 - Finanzas DWI - Desarrollo Web Integral
        </div>
        <div class="container text-muted  text-center mb-1">
            Desarrollado por  <span class="text-danger">&hearts;</span> 
            Ana Maria Perez Escalante
            <span>&</span> Ulises Martínez Olivares

        </div>

    </footer>*@

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted">
                    &copy; 2023 - Finanzas DWI - Desarrollo Web Integral.
                    Desarrollado por  <span class="text-danger">&hearts;</span>
                    Ana Maria Perez Escalante
                    <span>&</span> Ulises Martínez Olivares
                </span>
            </div>

      
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>