@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="display-4 mt-3">Lo solicitado no se encuentra en el sistema.</h1>
    <a asp-action="Index">Click aquí para volver a la página principal. </a>
</div>

