/* POR DEFECTO DEL PROYECTO */
* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;

}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 18px;
}

body {

    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* PRIMER AGREGACION */
﻿#reordenable tr {
    cursor: move;
}

.contenedor-totales {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.activo {
    color: blue;
}

.pasivo {
    color: red;
}


/* CUENTAS INDEX */

﻿.acordeon-cuentas button {
    color: black !important;
    font-size: 20px;
}

.acordeon-cuentas button > span {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.acordeon-cuentas ul li {
    display: flex;
    justify-content: space-between;
}

.acordeon-cuentas .accordion-collapse {
    font-size: 18px;
}


/* TRANSACCIONES INDEX */

.carousel-item {
    height: 350px;
   
}

    .carousel-item img {
        object-fit: cover;
        min-height: 350px;
    }

@media(max-width:768px) {
    .carousel .carousel-inner {
        height:auto;
    }
}